/* Classic style for afisha */

/*nav*/
.navbar .navbar-inverse {
	border: none;
	background-color:black;
}

.navbar-inverse{
	background-color:black !important;
	z-index: 1!important;
}

.navbar-header .navbar-brand{
	padding-top: 20px;
	padding-left: 30px;
}
/* form for search*/

.navbar .navbar-nav {
	margin-left: 70px;
}
.form-group {
	display: inline-block;
	margin-bottom: 0px !important;
	margin-top: 25px;
	width: 230px;
}
.navbar .navbar-nav .button{
	margin-top: 20px;
	display: inline-block;
}

/*карусель*/

.carousel-inner {
	height: 450px;
}

.carousel-caption{
	padding-bottom: 60px !important;
}
.carousel.fade{
	opacity: 1;
}
.carousel.fade .item{
	display: block;
	position: absolute;	
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0;
	transition: opacity .5s;
}
.carousel.fade .item.active{
	position: relative;
	opacity: 1;
}

/*calendar*/