/* Classic style for afisha */

/*nav*/
.navbar .navbar-inverse {
	border: none;
	background-color:black;
}

.navbar-inverse{
	background-color:black !important;
	z-index: 1!important;
}

.navbar-header .navbar-brand{
	padding-top: 20px;
	padding-left: 30px;
}
/* form for search*/

.navbar .navbar-nav {
	margin-left: 70px;
}
.form-group {
	display: inline-block;
	margin-bottom: 0px !important;
	margin-top: 25px;
	width: 230px;
}
.navbar .navbar-nav .button{
	margin-top: 20px;
	display: inline-block;
}

.main-text-body {
text-align: center;
}

/*изображение шапки*/

.header {
	padding-top: 60px;
}

/*события*/

.container-fluid .content {
	padding-top: 2px;
}

.col-sm-3 {
	height: 250px;
}

.col-xs-6 {
	padding-right: 0px !important;
	padding-left: 0px !important;
}    


/*карусель*/

.carousel-inner {
	height: 450px;
}

.carousel-caption{
	padding-bottom: 60px !important;
}
.carousel.fade{
	opacity: 1;
	margin-top: 30px;
}
.carousel.fade .item{
	display: block;
	position: absolute;	
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0;
	transition: opacity .5s;
}
.carousel.fade .item.active{
	position: relative;
	opacity: 1;
}

/*calendar*/

/*footer*/

#footer {
	background-color:black;
}

.thumbnail {
    position:relative;
    overflow:hidden;
	padding: 0px !important;
}
 
.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(181, 82, 180, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail:hover .caption {
    top:0%;
}

.label-default {
    background-color: greenyellow !important;
	color: darkslategray !important;
}